<div class="container">

    <div class="row">
        
        <div class="col-xs-12">
            <div class="row">
                
                <div class="col-xs-3">
                    <form class="form-inline" style="margin-top: 8%;">
                        Show
                        <select class="form-control input-sm" ng-model="itemsPerPage" ng-change="reload()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</opion>
                        </select>
                        chapters
                    </form>
                </div>
                
                <div class="col-xs-6 text-center">
                    
                    <ul uib-pagination
                        boundary-links="true"
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxButtonSize"
                        items-per-page="itemsPerPage"
                        ng-change="pageChanged()"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;">
                    </ul>
                    
                </div>
                
                <div class="col-xs-3">
                    <p style="margin-top: 11%;">
                        Showing {{firstElement}} to {{lastElement}} of <strong id="totalItems">{{totalItems}}</strong> chapters.
                    </p>
                </div>
                
            </div>
        </div>

        <div class="col-xs-12">

            <div class="table-responsive">
                <table id="dataTable-chapters" class="table table-hover table-striped table-bordered">
                    
                    <thread>
                        <tr>
                            <th class="text-center">
                                Book
                            </th>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center">
                                Pages
                            </th>
                            <th class="text-center">
                                Researchers`s name
                            </th>
                            <th class="text-center">
                                Researchers`s key
                            </th>
                            <th class="text-center">
                                Actions
                            </th>
                        </tr>
                    </thread>
    
                    <tbody>
                        <tr ng-repeat="chapter in chapters">
                            <td class="text-center">
                                <a href="#!/chapters/{{chapter.idChapter}}/edit" class="btn btn-primary">
                                    {{chapter.book}}
                                </a>
                            </td>
                            <td class="text-center">
                                {{chapter.name}}
                            </td>
                            <td class="text-center">
                                {{chapter.pages}}
                            </td>
                            <td class="text-center">
                                <span class="badge" ng-repeat="researcherName in chapter.researchersName">
                                    {{researcherName}}
                                </span>
                                &nbsp;
                            </td>
                            <td class="text-center">
                                <span class="badge" ng-repeat="researcher in chapter.researchers">
                                    {{researcher}}
                                </span>
                                &nbsp;
                            </td>
                            <td class="text-center">
                                <button ng-click="deleteChapter(chapter.idChapter)" class="btn btn-danger btn-block">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    
                    <tfooter>
                        <tr>
                            <td>
                                <input type="text" id="book" class="form-control" ng-model="searchChapter.book" placeholder="Book's ISBN" required />
                            </td>
                            <td>
                                <input type="text" id="name" class="form-control" ng-model="searchChapter.name" placeholder="Chapter's Name" required />
                            </td>
                            <td>
                                <input type="text" id="pages" class="form-control" ng-model="searchChapter.pages" placeholder="Chapter's Pages" required />
                            </td>
                            <td>
                                <input type="text" id="researchersName" class="form-control" ng-model="searchChapter.researchersName" placeholder="Researchers's Name" required />
                            </td>
                            <td>
                                <input type="text" id="researchers" class="form-control" ng-model="searchChapter.researchers" placeholder="Researchers's Key" required />
                            </td>
                            <td>
                                <button class="btn btn-info btn-block" ng-click="reload(true)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </td>
                        </tr>
                    </tfooter>
                    
                </table>
            </div>

        </div>
        
        <div class="col-xs-12">
            <div class="row">
                
                <div class="col-xs-3">
                    <form class="form-inline" style="margin-top: 8%;">
                        Show
                        <select class="form-control input-sm" ng-model="itemsPerPage" ng-change="reload()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                        chapters
                    </form>
                </div>
                
                <div class="col-xs-6 text-center">
                    
                    <ul uib-pagination
                        boundary-links="true"
                        total-items="totalItems"
                        ng-model="currentPage"
                        max-size="maxButtonSize"
                        items-per-page="itemsPerPage"
                        ng-change="pageChanged()"
                        previous-text="&lsaquo;"
                        next-text="&rsaquo;"
                        first-text="&laquo;"
                        last-text="&raquo;">
                    </ul>
                    
                </div>
                
                <div class="col-xs-3">
                    <p style="margin-top: 11%;">
                        Showing {{((currentPage - 1) * itemsPerPage) + 1}} to {{currentPage * itemsPerPage}} of {{totalItems}} chapters.
                    </p>
                </div>
                
            </div>
        </div>

    </div>

</div>
